<div class="search">
    <div class="search2">
        @using (Html.BeginForm("Search", "Home"))
        {
            <input class="text" name="keyword" id="txtkeyword" placeholder="Tìm kiếm..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
            <input type="submit" class="search-btn" value="">
        }
    </div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

    $("#txtkeyword").autocomplete({
        minlength: 0,
        source: function (request, response) {
            $.ajax({
                url: "/Admin/Home/ListName",
                datatype: "json",
                data: {
                    q: request.term
                },
                success: function (data) {
                    response(data.data);
                }
            });
        },
        focus: function (event, ui) {
            $("#txtkeyword").val(ui.item.label);
            return false;
        },
        select: function (event, ui) {
            $("#txtkeyword").val(ui.item.label);
            $("#project-id").val(ui.item.value);
            $("#project-description").html(ui.item.desc);
            $("#project-icon").attr("src", "images/" + ui.item.icon);

            return false;
        }
    })
        .autocomplete("instance")._renderitem = function (ul, item) {
            return $("<li>")
                .append("<div>" + item.label + "<br>" + item.desc + "</div>")
                .appendto(ul);
        };
</script>