@model PagedList.IPagedList<WebApp.Areas.Admin.Models.ViewModels.ProductViewModel>
@using PagedList.Mvc

@{
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}
<h2>SẢN PHẨM</h2>


<div id="productList">
    @{
        Html.RenderAction("SearchList", "Home", new { keyword=Session["keyword"] as string, page = 1 });
    }
</div>
