@model PagedList.IPagedList<WebApp.Areas.Admin.Models.ViewModels.ProductViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "SẢN PHẨM";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}
<h3>SẢN PHẨM</h3>
<div id="productList" class="container">
    @{
        Html.RenderAction("GetProductPagsing", "Product", new { page = 1 });
    }
    
</div>