
<!-- Cart -->
    <a href="/GioHang/XemGioHang">
        <i class="fa fa-shopping-cart"></i>
        <span>Giỏ hàng</span>
        <div class="qty">@Session["TongSoLuong"]</div>
    </a>
<!-- /Cart -->
